html,
body {
  font-family: 'Open Sans', sans-serif;
}
.iframe-wr {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.iframe-wr iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.redactor-wr {
  overflow: hidden;
}
.redactor-wr img {
  max-width: 100%;
}
input.hp {
  position: absolute;
  left: -999999px;
}
.morecontent span {
  display: none;
}
.wrapper {
  margin: 0 auto;
  max-width: 2000px;
}
.modal-backdrop.show {
  z-index: auto !important;
}
.btn-blue {
  color: #fff !important;
  border-radius: 0;
  border: 1px solid #206b98;
  background: #33abe7;
  background: -moz-linear-gradient(top, #33abe7 0%, #0059c6 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #33abe7), color-stop(100%, #0059c6));
  background: -webkit-linear-gradient(top, #33abe7 0%, #0059c6 100%);
  background: -o-linear-gradient(top, #33abe7 0%, #0059c6 100%);
  background: -ms-linear-gradient(top, #33abe7 0%, #0059c6 100%);
  background: linear-gradient(to bottom, #33abe7 0%, #0059c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33abe7', endColorstr='#0059c6', GradientType=0);
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
  background: #0059c6;
  background: -moz-linear-gradient(top, #0059c6 0%, #33abe7 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #0059c6), color-stop(100%, #33abe7));
  background: -webkit-linear-gradient(top, #0059c6 0%, #33abe7 100%);
  background: -o-linear-gradient(top, #0059c6 0%, #33abe7 100%);
  background: -ms-linear-gradient(top, #0059c6 0%, #33abe7 100%);
  background: linear-gradient(to bottom, #0059c6 0%, #33abe7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0059c6', endColorstr='#33abe7', GradientType=0);
}
.btn-orange {
  color: #fff !important;
  border-radius: 0;
  border: 1px solid #d0770a;
  background: #f8a633;
  background: -moz-linear-gradient(top, #f8a633 0%, #f36100 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f8a633), color-stop(100%, #f36100));
  background: -webkit-linear-gradient(top, #f8a633 0%, #f36100 100%);
  background: -o-linear-gradient(top, #f8a633 0%, #f36100 100%);
  background: -ms-linear-gradient(top, #f8a633 0%, #f36100 100%);
  background: linear-gradient(to bottom, #f8a633 0%, #f36100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8a633', endColorstr='#f36100', GradientType=0);
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
  background: #f36100;
  background: -moz-linear-gradient(top, #f36100 0%, #f8a633 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f36100), color-stop(100%, #f8a633));
  background: -webkit-linear-gradient(top, #f36100 0%, #f8a633 100%);
  background: -o-linear-gradient(top, #f36100 0%, #f8a633 100%);
  background: -ms-linear-gradient(top, #f36100 0%, #f8a633 100%);
  background: linear-gradient(to bottom, #f36100 0%, #f8a633 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f36100', endColorstr='#f8a633', GradientType=0);
}
.he {
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}
a.product-box {
  border: 2px solid #ebebeb;
  padding: 4px 4px 0;
  display: block;
  text-decoration: none !important;
}
a.product-box.coming-soon .img-wr:before {
  content: '';
  position: absolute;
  width: 88px;
  height: 48px;
  background: url('/static/img/comingsoon.png') no-repeat 0 0;
  top: 0;
  left: -18px;
  z-index: 9;
}
a.product-box .img-wr {
  background-color: #5a6268;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
  position: relative;
}
a.product-box .img-wr .featured-abs {
  position: absolute;
  color: #fff;
  text-align: center;
  left: 10px;
  bottom: 10px;
  background: #ea3953;
  border: 3px solid #fc415d;
  padding: 5px 15px;
  font-weight: 600;
}
a.product-box .name-wr {
  text-align: center;
  padding: 15px 0;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}
a.product-box .price-wr {
  padding: 10px 0;
  border-top: 1px solid #ebebeb;
}
a.product-box .price-wr span {
  color: #000;
}
a.product-box .price-wr s {
  font-weight: bold;
  color: #9a9a9a;
  margin: 0 11px 0 7px;
}
a.product-box .price-wr .price-sale {
  color: #e40000;
  font-weight: bold;
  font-size: 28px;
  margin-left: 7px;
}
.review-box .review-text {
  background: #fff url('/static/img/quote.png') no-repeat 15px 15px;
  border-radius: 7px;
  padding: 35px 15px 15px;
  font-style: italic;
  line-height: 25px;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0 13px -3px #c3c3c3;
}
.review-box .review-text:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 15px;
  left: 30px;
  bottom: -15px;
  background: url('/static/img/rev-tri.png') no-repeat 0 0;
}
.review-box .review-author {
  margin: 0;
  font-weight: 600;
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
}
.review-box .review-author img {
  display: inline-block;
  width: auto;
  margin-left: 5px;
  vertical-align: -3px;
}
section.showroom {
  padding: 30px 0;
  border-bottom: 1px solid #d7d7d7;
}
section.showroom a.img-box {
  display: block;
  height: 300px;
  background: #5a6268;
  border-bottom: 1px solid #fff;
}
@media only screen and (max-width: 767px) {
  section.showroom a.img-box {
    height: 200px;
  }
}
@media only screen and (max-width: 991px) {
  section.showroom a.img-box.ib1,
  section.showroom a.img-box.ib3,
  section.showroom a.img-box.ib5 {
    border-right: 1px solid #fff;
  }
}
@media only screen and (min-width: 992px) {
  section.showroom a.img-box.ib1,
  section.showroom a.img-box.ib2,
  section.showroom a.img-box.ib4,
  section.showroom a.img-box.ib5 {
    border-right: 1px solid #fff;
  }
}
section.showroom a.img-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
section.showroom .btn-blue {
  margin-top: 30px;
}
header.header {
  padding: 15px 0;
  position: relative;
}
header.header .top h4 {
  color: #fff;
}
header.header .top h4 a {
  color: inherit;
}
@media only screen and (min-width: 992px) {
  header.header .bottom {
    text-align: right;
  }
  header.header .bottom ul.navi {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  header.header .bottom ul.navi > li {
    display: inline-block;
    font-weight: 600;
    position: relative;
  }
  header.header .bottom ul.navi > li:not(:first-child) {
    margin-left: 12px;
  }
  header.header .bottom ul.navi > li > a {
    color: #fff;
  }
  header.header .bottom ul.navi > li > ul {
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(255, 255, 255, 0.9);
    min-width: 100%;
    z-index: 1;
    text-align: left;
  }
  header.header .bottom ul.navi > li > ul li {
    padding: 7px 10px;
  }
  header.header .bottom ul.navi > li > ul li:not(:last-child) {
    border-bottom: 1px solid #d7d7d7;
  }
  header.header .bottom ul.navi > li > ul li a {
    color: #000;
    display: block;
    width: 100%;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 991px) {
  header.header .bottom ul.navi {
    display: none;
  }
}
#categories-submenu {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  z-index: 99;
  overflow: hidden;
}
#categories-submenu a {
  color: #000;
}
#categories-submenu .hwr {
  padding: 15px 0;
  position: relative;
}
#categories-submenu .hwr:after {
  content: '';
  position: absolute;
  width: calc(100% - -30px);
  height: 1px;
  background: #d7d7d7;
  left: -15px;
  bottom: 0;
}
#categories-submenu ul {
  margin: 15px 0;
}
footer.footer-top {
  padding: 80px 0;
  background: url('/static/img/footer-top-bg.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  footer.footer-top {
    padding: 30px 0;
  }
}
footer.footer-top .fhe {
  font-weight: 600;
  color: inherit;
}
footer.footer-top ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer.footer-top ul li:not(:last-child) {
  margin-bottom: 5px;
}
footer.footer-top ul li a {
  color: inherit;
}
footer.footer-top .form-control {
  border-radius: 0;
}
footer.footer-top .btn {
  border-radius: 0;
}
footer.footer-bottom {
  padding: 40px 0;
  background: #002c5b;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  footer.footer-bottom {
    padding: 30px 0;
  }
}
#modalTimer .modal-content {
  border: 0;
  border-radius: 0;
}
#modalTimer .modal-body {
  padding: 0;
}
#modalTimer .modal-body button.close {
  position: absolute;
  right: 10px;
  top: 5px;
  opacity: 1;
  color: #fff;
}
#modalTimer .modal-body button.close:hover {
  opacity: 0.5;
}
#modalTimer .modal-body button.close span {
  text-shadow: none;
}
#modalTimer .modal-footer {
  background: #143b7c;
  border: 0;
}
#page-home .box-header {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
#page-home .box-header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ebebeb;
  left: 0;
  top: 50%;
}
#page-home .box-header .box {
  border: 1px solid #0074d4;
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
  background: #fff;
  z-index: 1;
  position: relative;
  min-width: 240px;
}
#page-home .box-header .box h4 {
  margin: 0;
  font-weight: 600;
}
#page-home section.home-bns #carouselHomeBanners .ban {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
}
@media only screen and (min-width: 992px) {
  #page-home section.home-bns #carouselHomeBanners .ban {
    height: 500px;
  }
}
#page-home section.home-bns #carouselHomeBanners .ban h1,
#page-home section.home-bns #carouselHomeBanners .ban h5 {
  color: #fff;
  text-shadow: 0 0 12px #232323;
}
#page-home section.home-video {
  padding: 60px 0 0;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-video {
    padding-top: 30px;
  }
}
#page-home section.home-categories {
  padding: 60px 0 15px;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-categories {
    padding-top: 30px;
  }
}
#page-home section.home-categories .cat-box {
  background-color: #5a6268;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
#page-home section.home-categories .cat-box:hover .bottom {
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
#page-home section.home-categories .cat-box:hover .bottom h5 {
  margin-top: 25px;
}
#page-home section.home-categories .cat-box .bottom {
  position: absolute;
  padding: 15px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  height: 50px;
  -webkit-transition: height 0.8s, background-color 0.8s;
  transition: height 0.8s, background-color 0.8s;
}
#page-home section.home-categories .cat-box .bottom h5 {
  text-transform: uppercase;
  margin: 0;
  transition: margin-top 0.2s;
}
#page-home section.home-categories .cat-box .bottom p {
  margin: 20px 0;
}
#page-home section.home-categories .cat-box .bottom .btn {
  padding: 10px 40px;
}
#page-home section.home-featured {
  padding: 0 0 60px;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-featured {
    padding: 0 0 30px;
  }
}
#page-home section.home-testi {
  padding: 60px 0;
  background: #f8f8f8;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-testi {
    padding: 30px 0;
  }
}
#page-home section.home-tour {
  padding: 30px 0 60px;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-tour {
    padding: 30px 0;
  }
}
#page-home section.home-tour .iframe-wr {
  margin-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-tour .iframe-wr {
    margin-bottom: 30px;
  }
}
#page-home section.home-git {
  padding: 60px 0;
  background: url('/static/img/git-bg.jpg') no-repeat center top;
  background-size: cover;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-git {
    padding: 30px 0;
  }
}
#page-home section.home-git .git-he {
  color: inherit;
  font-weight: 600;
  text-shadow: 0 0 10px #040404;
  margin-top: 20px;
}
#page-home section.home-git .form-control {
  color: inherit;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(0, 44, 91, 0.4);
}
#page-home section.home-git .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}
#page-home section.home-git .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
#page-home section.home-git .form-control:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
#page-home section.home-git textarea {
  min-height: 110px;
}
#page-home section.home-git .btn {
  border-radius: 0;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-git .btn {
    display: block;
    width: 100%;
  }
}
#page-home section.home-map {
  padding: 30px 0 0;
}
.page-banner {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .page-banner {
    height: 150px;
  }
}
.page-banner h2 {
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.page-content {
  padding: 30px 0;
}
#page-gallery .page-content {
  padding-bottom: 0;
}
#page-gallery a.img-box {
  display: block;
  height: 250px;
  border: 2px solid #ebebeb;
  padding: 4px;
  margin-bottom: 30px;
}
#page-gallery a.img-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#page-category-detail #root-cat-name {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 0;
  margin-bottom: 15px;
}
#page-category-detail #root-cat-name a {
  color: inherit;
}
#page-category-detail #subcats-list {
  margin: 0 0 15px;
  padding: 0 0 5px;
  list-style: none;
  border-bottom: 1px solid #ebebeb;
}
#page-category-detail #subcats-list li {
  margin-bottom: 10px;
}
#page-category-detail #subcats-list li a {
  color: #404040;
  font-weight: 300;
}
#page-category-detail #subcats-list li a.active {
  font-weight: bold;
  color: #000;
}
#page-category-detail .product-box {
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  #page-category-detail .product-box {
    margin-bottom: 15px;
  }
}
#page-category-detail #cat-text-wr {
  padding-top: 30px;
}
#page-category-detail #cat-text-wr #cat-discl {
  font-size: 17px;
}
#page-on-sale .page-content {
  padding-bottom: 0;
}
#page-on-sale .product-box {
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  #page-on-sale .product-box {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) {
  #page-tour .page-content {
    padding-bottom: 60px;
  }
}
#page-tour h3 {
  font-weight: 600;
  margin-bottom: 30px;
}
#page-tour .iframe-wr {
  margin-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  #page-tour .iframe-wr {
    margin-bottom: 30px;
  }
}
#page-product h1 {
  font-weight: 600;
  font-size: 24px;
}
#page-product #main-image-link {
  display: block;
  height: 300px;
  margin-bottom: 10px;
  box-shadow: 0 0 30px -5px #828282;
}
#page-product #main-image-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#page-product .small-image-link {
  display: block;
  height: 70px;
  margin-bottom: 10px;
}
#page-product .small-image-link.active {
  box-shadow: 0 0 10px 1px #f47500;
}
#page-product .small-image-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#page-product #price span {
  font-weight: bold;
  font-size: 25px;
  position: relative;
  margin-right: 15px;
}
#page-product #price span.regular:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: #ed1c24;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
#page-product #prod-discl {
  font-size: 17px;
}
#page-product #pr-related-wr {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #d7d7d7;
}
#page-product #pr-related-wr h4 {
  font-weight: 600;
  margin-bottom: 30px;
}
#page-reviews {
  background: #f8f8f8;
}
#page-reviews .page-content {
  padding-bottom: 5px;
}
#page-reviews .review-box {
  margin-bottom: 25px;
}
#page-about .showroom {
  border-top: 1px solid #d7d7d7;
  border-bottom: 0;
  margin-top: 30px;
}
#page-contact iframe {
  width: 100%;
  height: 400px;
  border: 0;
}
#page-contact .contact-git {
  border-top: 1px solid #ebebeb;
  padding-top: 30px;
  margin-top: 30px;
}
#page-contact .contact-git .git-he {
  font-weight: 600;
  margin-top: 20px;
}
#page-contact .contact-git .form-control {
  color: inherit;
  border-radius: 0;
  border: 1px solid #999999;
}
#page-contact .contact-git textarea {
  min-height: 110px;
}
#page-contact .contact-git .btn {
  border-radius: 0;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  #page-contact .contact-git .btn {
    display: block;
    width: 100%;
  }
}
