#page-home .box-header {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
#page-home .box-header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ebebeb;
  left: 0;
  top: 50%;
}
#page-home .box-header .box {
  border: 1px solid #0074d4;
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
  background: #fff;
  z-index: 1;
  position: relative;
  min-width: 240px;
}
#page-home .box-header .box h4 {
  margin: 0;
  font-weight: 600;
}
#page-home section.home-bns #carouselHomeBanners .ban {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px;
}
@media only screen and (min-width: 992px) {
  #page-home section.home-bns #carouselHomeBanners .ban {
    height: 500px;
  }
}
#page-home section.home-bns #carouselHomeBanners .ban h1,
#page-home section.home-bns #carouselHomeBanners .ban h5 {
  color: #fff;
  text-shadow: 0 0 12px #232323;
}
#page-home section.home-video {
  padding: 60px 0 0;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-video {
    padding-top: 30px;
  }
}
#page-home section.home-categories {
  padding: 60px 0 15px;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-categories {
    padding-top: 30px;
  }
}
#page-home section.home-categories .cat-box {
  background-color: #5a6268;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
#page-home section.home-categories .cat-box:hover .bottom {
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
#page-home section.home-categories .cat-box:hover .bottom h5 {
  margin-top: 25px;
}
#page-home section.home-categories .cat-box .bottom {
  position: absolute;
  padding: 15px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  height: 50px;
  -webkit-transition: height 0.8s, background-color 0.8s;
  transition: height 0.8s, background-color 0.8s;
}
#page-home section.home-categories .cat-box .bottom h5 {
  text-transform: uppercase;
  margin: 0;
  transition: margin-top 0.2s;
}
#page-home section.home-categories .cat-box .bottom p {
  margin: 20px 0;
}
#page-home section.home-categories .cat-box .bottom .btn {
  padding: 10px 40px;
}
#page-home section.home-featured {
  padding: 0 0 60px;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-featured {
    padding: 0 0 30px;
  }
}
#page-home section.home-testi {
  padding: 60px 0;
  background: #f8f8f8;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-testi {
    padding: 30px 0;
  }
}
#page-home section.home-tour {
  padding: 30px 0 60px;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-tour {
    padding: 30px 0;
  }
}
#page-home section.home-tour .iframe-wr {
  margin-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-tour .iframe-wr {
    margin-bottom: 30px;
  }
}
#page-home section.home-git {
  padding: 60px 0;
  background: url('/static/img/git-bg.jpg') no-repeat center top;
  background-size: cover;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-git {
    padding: 30px 0;
  }
}
#page-home section.home-git .git-he {
  color: inherit;
  font-weight: 600;
  text-shadow: 0 0 10px #040404;
  margin-top: 20px;
}
#page-home section.home-git .form-control {
  color: inherit;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(0, 44, 91, 0.4);
}
#page-home section.home-git .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}
#page-home section.home-git .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
#page-home section.home-git .form-control:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
#page-home section.home-git textarea {
  min-height: 110px;
}
#page-home section.home-git .btn {
  border-radius: 0;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  #page-home section.home-git .btn {
    display: block;
    width: 100%;
  }
}
#page-home section.home-map {
  padding: 30px 0 0;
}
